<h1>Overwatch Comp</h1>

<p>
  A description of hero comps - strengths, weaknesses, pairings, meta histories and explanations
</p>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>

<br>

<div class="container">
  <div class="row">
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="card card-body card-inverse bg-primary">
              Tank
          </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="card card-body card-inverse bg-primary">
              Tank
          </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="card card-body card-inverse bg-primary">
              DPS
          </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="card card-body card-inverse bg-primary"> 
              DPS
          </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mx-auto">
          <div class="card card-body card-inverse bg-primary"> 
              Support
          </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mx-auto">
          <div class="card card-body card-inverse bg-primary"> 
              Support
          </div>
      </div>
  </div>
</div>

